{% load static %}

<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>QPSLLC</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/stylee.css' %}">
<link rel="stylesheet" href="{% static 'css/grid.css' %}">



</head>
{% include 'qpsnavbar.html' %}
<body>

<section class="gallery-block grid-gallery">

  <center> <h1> QPS LLC </h1></center>
  <center> <h2> Before And After Gallery </h2> </center>
  <br>

        <div class="row">

            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/danabefore1.0.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/danabefore1.0.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/danaafter3.1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/danaafter3.1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/beforebrazilpaint1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/beforebrazilpaint1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/afterbrazilpaint1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/afterbrazilpaint1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/beforebathpaint1e.jpg'%}" >
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/beforebathpaint1.jpg'%}" >
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/afterbathpaint1'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/afterbathpaint1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/syedbefore1.1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/syedbefore1.1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/syedafter1.1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/syedafter1.1.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/syedbeforenew.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/syedbeforenew.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/syedafter1.3.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/syedafter1.3.jpg'%}">
                </a>
            </div>
            <div class="col-md-5 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/cabbeforereal1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/cabbeforereal1.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/cabafter1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/cabafter1.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/beforewallfix.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/beforewallfix.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/afterwallfix.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/afterwallfix.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/afterpaint100.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/afterpaint100.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/addmenow.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/addmenow.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/addme1.1.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/addme1.1.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/addme1.2.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/addme1.2.jpg'%}">
                </a>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/addme1.4.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/addme1.4.jpg'%}">
                </a>
            </div>

            <div class="col-md-6 col-lg-3 item">
                <a class="lightbox" href="{% static 'image/addme1.5.jpg'%}">
                    <img class="img-fluid image scale-on-hover" src="{% static 'image/addme1.5.jpg'%}">
                </a>
            </div>


        </div>
  {% include 'page.html' %}


</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

<script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script>
</body>
</html>
