<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QPS</title>

  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" <a href="{% static 'css/home.css' %}">

    <div class="typewriter">
  <h1> QPS LLC</h1>
  <h1> Home Improvement <h1>

</div>
<hr>
<h3>Welcome!</h3>

<h2>Our Goals</h2>



 <li>Customer Satisfaction is #1</li>

 <li>Provide Professional Services</li>

  <li>Our Work Speaks For Itself</li>


<h3>For Our Gallery Click Below</h3>


      <nav>
 <ul>
   <li>
     <a href="{% url 'gallery' %}">Click Here</a>
   </li>

 </ul>

</nav>

  </body>
</html>
